.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
.xtts-venv/
venv/

# Environment files
.env
backend/.env
frontend/.env

# Runtime files
backend/uploads/*
backend/outputs/*
backend/my_voice.wav
!backend/uploads/.gitkeep
!backend/outputs/.gitkeep

# Node
frontend/node_modules/
frontend/dist/
